.container {
  width: 1170px;
  margin: 0 auto; }

body {
  color: #3e3e3e;
  font-size: 14px;
  font-weight: 400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4; }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Roboto; }

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto_Black.ttf"); }
.row::after {
  content: '';
  clear: both;
  display: block; }

[class*="col-"] {
  float: left;
  margin: 0 1.3%; }

[class*="col-"]:first-child {
  margin-left: 0px; }

[class*="col-"]:last-child {
  margin-right: 0px; }

.col-1 {
  width: 5.95%; }

.col-2 {
  width: 14.5%; }

.col-3 {
  width: 23.05%; }

.col-4 {
  width: 31.6%; }

.col-5 {
  width: 40.15%; }

.col-6 {
  width: 48.7%; }

.col-7 {
  width: 57.25%; }

.col-8 {
  width: 65.8%; }

.col-9 {
  width: 74.35%; }

.col-10 {
  width: 82.9%; }

.col-11 {
  width: 91.45%; }

.col-12 {
  width: 100%; }

/*header*/
/*bg-top-bar*/
.bg-top-bar {
  background-color: #272727; }
  .bg-top-bar .dropdown {
    display: inline-block;
    vertical-align: top;
    height: 44px;
    border-right: 1px solid #333; }
    .bg-top-bar .dropdown a {
      display: block;
      height: 44px;
      padding: 11px 20px 10px 20px;
      color: #777;
      text-transform: uppercase;
      text-decoration: none; }
      .bg-top-bar .dropdown a:hover {
        color: #e03916; }
  .bg-top-bar .menu-bar {
    margin: 0;
    padding: 0; }
    .bg-top-bar .menu-bar .menu-bar-item {
      display: inline-block;
      vertical-align: top;
      height: 44px;
      border-left: 1px solid #333;
      text-transform: uppercase;
      list-style: none;
      text-align: left; }
      .bg-top-bar .menu-bar .menu-bar-item a {
        padding: 13px 15px 10px 20px;
        display: block;
        color: #777;
        height: 44px;
        text-decoration: none; }
        .bg-top-bar .menu-bar .menu-bar-item a:hover {
          color: #e03916; }

/*bg-top-menu*/
.bg-top-menu {
  background-color: #1e1e1e;
  height: 100px; }
  .bg-top-menu .logo img {
    padding: 28px 18px; }
  .bg-top-menu .menu {
    margin: 0;
    padding: 0;
    height: 100px; }
    .bg-top-menu .menu .menu-item {
      display: inline-block;
      margin: 38px 20px; }
      .bg-top-menu .menu .menu-item a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        height: 58px; }
        .bg-top-menu .menu .menu-item a:hover {
          color: #ee4415;
          border-bottom: 3px solid #ee4415; }
      .bg-top-menu .menu .menu-item .fa {
        color: #777;
        font-size: 16px; }
        .bg-top-menu .menu .menu-item .fa:hover {
          color: #fff; }
    .bg-top-menu .menu .active {
      color: #ee4415 !important;
      border-bottom: 3px solid #ee4415; }

/*desktop*/
.desktop {
  background-color: #f6f7f7;
  height: 220px;
  display: block;
  text-align: center; }
  .desktop .title-desktop {
    font-size: 24px;
    padding: 90px 0 5px; }
  .desktop .menu-desktop {
    margin: 0;
    padding: 0; }
    .desktop .menu-desktop .menu-desktop-item:first-child {
      display: inline-block;
      padding: 0 5px;
      list-style: none; }
      .desktop .menu-desktop .menu-desktop-item:first-child a {
        text-decoration: none;
        text-transform: uppercase;
        color: #777; }
        .desktop .menu-desktop .menu-desktop-item:first-child a:before {
          content: "\f015";
          font: normal normal normal 14px/1 FontAwesome;
          padding-right: 3px;
          font-size: 12px; }
          .desktop .menu-desktop .menu-desktop-item:first-child a:before:hover {
            color: #000; }
    .desktop .menu-desktop .menu-desktop-item {
      display: inline-block;
      padding: 0 5px;
      list-style: none; }
      .desktop .menu-desktop .menu-desktop-item a {
        text-decoration: none;
        text-transform: uppercase;
        color: #777; }
        .desktop .menu-desktop .menu-desktop-item a:hover {
          color: #000; }
        .desktop .menu-desktop .menu-desktop-item a:before {
          content: "\f0a9";
          font: normal normal normal 14px/1 FontAwesome;
          padding-right: 3px;
          font-size: 12px; }

/*section*/
.patter .title-heading {
  font-size: 24px;
  padding: 30px 0 0 0;
  border: none; }
.patter .list {
  padding-bottom: 15px; }
  .patter .list .list-item {
    list-style: none; }
  .patter .list .catery {
    margin-top: 30px; }
    .patter .list .catery .catery-text {
      color: #ee4415;
      padding: 5px 0 21px 0;
      text-align: left;
      border-bottom: 1px solid #ebebeb;
      position: relative;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 1;
      cursor: pointer;
      margin-top: 30px; }
      .patter .list .catery .catery-text span {
        display: inline-block;
        font-size: 18px; }
      .patter .list .catery .catery-text:before {
        content: '';
        position: absolute;
        background: #ee4415;
        width: 50px;
        height: 3px;
        bottom: -1px;
        left: 0; }
    .patter .list .catery .catery-text1 {
      padding: 20px 0 21px 0;
      text-align: left;
      border-bottom: 1px solid #ebebeb; }
      .patter .list .catery .catery-text1 .check {
        margin-right: 10px; }
    .patter .list .catery .catery-text2 {
      padding: 20px 0 21px 0;
      text-align: left; }
      .patter .list .catery .catery-text2 .check {
        margin-right: 10px; }
.patter .img {
  padding: 30px 0; }

/*# sourceMappingURL=style.css.map */
