.container {
  width: 1170px;
  margin: 0 auto;
}
$color: (
  black: #000,
  white: #fff,
  grays: #3e3e3e,
  gray: #272727,
  black_gray: #1e1e1e,
  gray_d: #f6f7f7,
  gray_baba: #333,
  gray_mo: #777,
  orange: #e03916,
  organge: #ee4415,
  arr_boder: #ebebeb,
  gray_compare: #bfbfbf,
  lorem: #ddd,
  blacks: #141414,
  gray_social: #2e2e2e,
  grays_b: #979797,
);
body {
  color: map-get($color, grays);
  font-size: 14px;
  font-weight: 400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 , h4 , h5 , h6 {
  text-transform: uppercase;
  font-family: Roboto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto_Black.ttf');
}
